<div class="row mt-4" *ngIf="!showPicking && !showStock">
  <div class="col-12">
    <div class="loading" *ngIf="inLoad">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div class="odoo-content-data" *ngIf="!inLoad">
        <h4>Odoo Wineem</h4>
        <h5 class="user mb-3">User: {{user}}</h5>
        <hr>

        <div class="text-center">
          <button class="b_raised" mat-raised-button color="accent" (click)="picking()">Preparar Pedidos</button>
          <br><br>
          <button class="b_raised" mat-raised-button color="accent" (click)="stock()">Inventario</button>
        </div>

        <hr />
        <div>
          <h6>
            Salud del Servidor:
            <span *ngIf="safe == 'good'"><span class="dot green-dot"></span> Muy buena</span>
            <span *ngIf="safe == 'normal'"><span class="dot"></span> Normal</span>
            <span *ngIf="safe == 'slow'"><span class="dot orange-bot"></span> Lento</span>
            <span *ngIf="safe == 'bad'"><span class="dot red-dot"></span> Mala - Se recomienda no entrar</span>
          </h6>
        </div>
        <hr />

        <div class="mt-4">
          <button mat-raised-button color="warn" (click)="logOut()">Log Out</button>
        </div>

      </div>
  </div>
</div>

<div class="container mt-4 odoo-logged odoo-input" *ngIf="showPicking">
  <app-picking [server]="server" [db]="db" [user]="user" [pass]="pass" [uid]="uid" [inLoad]="inLoad" [logged]="logged" (out)="goOut()"></app-picking>
</div>

<div class="container mt-4 sodoo-logged odoo-input" *ngIf="showStock">
  <app-stock [server]="server" [db]="db" [user]="user" [pass]="pass" [uid]="uid" [inLoad]="inLoad" [logged]="logged"></app-stock>
</div>

<!--div class="mt-3">
  <button mat-raised-button color="primary" *ngIf="showPicking || showStock" (click)="showPicking = false;showStock = false;">
    Volver al Menu
  </button>
</div-->