<div class="row" *ngIf="!showPicking && !showStock">
  <div class="col-12">
    <div class="loading" *ngIf="inLoad">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div class="odoo-content-data" *ngIf="!inLoad">
        <p class="user">User: {{user}}</p>
        <div class="mat-button">
          <button mat-raised-button color="primary" (click)="logOut()">Log Out</button>
        </div>
        <hr>

        <div class="text-center">
          <button class="b_raised" mat-raised-button color="accent" (click)="picking()">Módulo Picking</button>
          <br><br>
          <button class="b_raised" mat-raised-button color="accent" (click)="stock()">Módulo Inventario</button>
        </div>

      </div>
  </div>
</div>

<div class="container odoo-logged odoo-input" *ngIf="showPicking">
  <app-picking [server]="server" [db]="db" [user]="user" [pass]="pass" [uid]="uid" [inLoad]="inLoad" [logged]="logged"></app-picking>
</div>

<div class="container odoo-logged odoo-input" *ngIf="showStock">
  <app-stock [server]="server" [db]="db" [user]="user" [pass]="pass" [uid]="uid" [inLoad]="inLoad" [logged]="logged"></app-stock>
</div>
