<div id="navStock" *ngIf="navStock">
    <button class="b_raised mb-3" mat-raised-button color="accent" (click)="addStock()">
        Agregar Inventario
    </button>
    <button class="b_raised mb-3" mat-raised-button color="accent" (click)="fixStock()">
        Ajustar Inventario
    </button>
    <button class="b_raised mb-3" mat-raised-button color="accent" (click)="checkStock()">
        Consultar Inventario
    </button>
</div>

<div id="addStock" *ngIf="addStockVisible">

</div>

<div id="fixStock" *ngIf="fixStockVisible">

</div>

<div id="checkStock" *ngIf="checkStockVisible">
    <app-checkstock [server]="server" [db]="db" [user]="user" [pass]="pass" [uid]="uid"></app-checkstock>
</div>