.over-table {
    background: #8a4e79;
}
.over-table div {
    padding:5px 15px;
    border-right:4px solid #9b658c;
}

.b_raised {
    font-size: 20px;
    padding: 5px 20px;
    width: 100%;
}

.border-spe {
    border-bottom:2px #8a4e79 solid;
}