<div *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" style="margin:0 auto;"></mat-progress-spinner>
</div>

<div *ngIf="!loading && !showLeader && !showOPs && !showPicking">
 <a class="d-block" *ngFor="let rep of pickRep" (click)="readRep(rep.id)">
  <h4>{{rep.name}} <small>({{rep.vals.length}})</small></h4>
  <hr>
 </a>
 <p *ngIf="alert != ''">{{alert}}</p>
</div>

<div *ngIf="!loading && showLeader && !showOPs && !showPicking">
  <h3 class="text-center">{{repSel.name}}</h3>
  <br>
  <a class="d-block" *ngFor="let leader of pickLeader" (click)="readLeader(leader.id)">
    <h4>{{leader.name}} <small>({{leader.vals.length}})</small></h4>
    <hr>
  </a>
</div>

<div *ngIf="!loading && showLeader && showOPs && !showPicking">
  <h3 class="text-center">{{repSel.name}}</h3>
  <h3 class="text-center">{{leaderSel.name}}</h3>
  <br>
  <a class="d-block" *ngFor="let op of leaderSel.vals" (click)="readOP(op.id)">
    <h4>{{op.name}} <small>({{op.move_ids.length}})</small></h4>
    <hr>
  </a> 
</div>

<div *ngIf="!loading && showLeader && showOPs && showPicking">
  <p *ngIf="alertPicking != ''">{{alertPicking}}</p>
  <h4 *ngIf="selP">{{selP[0].name}}</h4>
  <h4 *ngIf="box != undefined">{{box[0].name}}</h4>
  <h5 *ngIf="box != undefined">Representante / Líder: {{box[0].rep_id[1]}}</h5>
  <br />
  <div *ngIf="box != undefined">
      <div class="row mb-2 over-table">
          <div class="col-4">Categoría</div>
          <div class="col-4">SKU</div>
          <div class="col-4 text-right">Cantidad</div>
      </div>
      <div class="row" *ngFor="let p of pTable">
        <div class="col-4 text-uppercase text-center">{{p.categ_id}}</div>
        <div class="col-4 text-center">{{p.sku}}</div>
        <div class="col-4 text-right">{{p.qty}}</div>
      </div>
  </div>
</div>

