<div *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" style="margin:0 auto;"></mat-progress-spinner>
</div>

<div *ngIf="!loading && !showLeader && !showOPs && !showPicking && !showClose">
 <a class="d-block" *ngFor="let rep of pickRep" (click)="readRep(rep.id)">
  <h4>{{rep.name}} <small>({{rep.vals.length}})</small></h4>
  <hr/>
 </a>
 <p *ngIf="alert != ''">{{alert}}</p>
</div>

<div *ngIf="!loading && showLeader && !showOPs && !showPicking && !showClose">
  <h3 class="text-center">{{repSel.name}}</h3>
  <br>
  <a class="d-block" *ngFor="let leader of pickLeader" (click)="readLeader(leader.id)">
    <h4>{{leader.name}} <small>({{leader.vals.length}})</small></h4>
    <hr/>
  </a>
</div>

<div *ngIf="!loading && showLeader && showOPs && !showPicking && !showClose">
  <h3 class="text-center">{{repSel.name}}</h3>
  <h3 class="text-center">{{leaderSel.name}}</h3>
  <br>
  <a class="d-block" *ngFor="let op of leaderSel.vals" (click)="readOP(op.id)">
    <h4>{{op.name}} <small>({{op.move_ids.length}})</small></h4>
    <hr/>
  </a> 
</div>

<div *ngIf="!loading && showLeader && showOPs && showPicking && !showClose">
  <p *ngIf="alertPicking != ''">{{alertPicking}}</p>
  <div *ngIf="alertPicking == 'Ya hay una caja abierta por otro Usuario.'">
      <button class="b_raised" mat-raised-button color="accent" (click)="createBox(selP)">Crear caja</button>
      <h5 class="mt-2">Usar Caja:</h5>
      <div *ngFor="let b of boxList">
        <button class="b_raised" mat-raised-button color="accent" (click)="selBox(b.id)">Usar Caja {{b.name}}</button>
      </div>
  </div>

  <div *ngIf="alertPicking != 'Ya hay una caja abierta por otro Usuario.'">
      <h5 *ngIf="selP">{{selP[0].name}}</h5>
      <h5 *ngIf="box != undefined">{{box[0].name}}</h5>
      <h6 *ngIf="box != undefined">Representante / Líder: {{box[0].rep_id[1]}}</h6>
      <br />
      <div *ngIf="box != undefined">
          <div class="row mb-2 over-table">
              <div class="col-3">Categ.</div>
              <div class="col-3">SKU</div>
              <div class="col-3 text-right">Cant.</div>
              <div class="col-3 text-right">Scan</div>
          </div>
          <div class="row mb-2 pb-2 border-spe" *ngFor="let p of pTable;index as i;">
            <div class="col-3 text-uppercase text-center">{{p.categ_id}}</div>
            <div class="col-3 text-center">{{p.sku}}</div>
            <div class="col-3 text-right">{{p.qty}}</div>
            <div class="col-3 text-right" *ngIf="p.ean13 != ''">
              <button mat-raised-button *ngIf="p.scan == false" style="background:#ff0000;" (click)="startScann(i)">NO ({{p.scan_qty}})</button>
              <button mat-raised-button *ngIf="p.scan == true" style="background:#00ff00;" (click)="startScann(i)">OK ({{p.scan_qty}})</button>
              <button mat-raised-button (click)="addQty(i)">({{p.scan_qty}}) +</button>
            </div>
            <div class="col-3 text-right" *ngIf="p.ean13 == ''">
                <button mat-raised-button (click)="addQty(i)">({{p.scan_qty}}) +</button>
            </div>
          </div>
      </div>
      <button mat-raised-button class="b_raised mt-4" mat-raised-button color="accent" (click)="validatePicking()">Confirmar Pedido</button>
      <button mat-raised-button class="b_raised mt-4" mat-raised-button color="accent" (click)="closeBoxes()" *ngIf="closePicking">Cerrar Cajas</button>
  </div>
</div>

<div *ngIf="!loading && showLeader && showOPs && showPicking && showClose">
    <h5>Cerrar Cajas</h5>
    <div class="row mb-2 over-table">
      <div class="col-4">Nombre</div>
      <div class="col-4">Rep.</div>
      <div class="col-4 text-right">Cerrar</div>
    </div>
    <div class="row mb-1" style="padding-bottom:4px;border-bottom:solid 1px #666;" *ngFor="let p of pBoxes;index as i;">
      <div class="col-4">{{p.name}}</div>
      <div class="col-4" *ngIf="p.lead == 'undefined Líder'">{{p.rep}}</div>
      <div class="col-4" *ngIf="p.lead != 'undefined Líder'">{{p.lead}}</div>
      <div class="col-4 text-right"><button mat-raised-button (click)="closeBox(p.id, i)">{{p.state}}</button></div>
      <hr/>
    </div>
</div>

<div class="mt-3">
  <button mat-raised-button color="primary" (click)="goOut()">
    Volver al Menu
  </button>
</div>