<div *ngIf="!showLeader && !showOPs">
 <div *ngFor="let rep of pickRep" (click)="readRep(rep.id)">
  <h4>{{rep.name}} ({{rep.vals.length}})</h4>
  <hr>
 </div>
</div>

<div *ngIf="showLeader && !showOPs">
  <h3 class="text-center">{{repSel.name}}</h3>
  <br>
  <div *ngFor="let leader of pickLeader" (click)="readLeader(leader.id)">
    <h4>{{leader.name}} ({{leader.vals.length}})</h4>
    <hr>
  </div>
</div>

<div *ngIf="showLeader && showOPs">
  <h3 class="text-center">{{repSel.name}}</h3>
  <h3 class="text-center">{{leaderSel.name}}</h3>
  <br>
  <div *ngFor="let op of leaderSel.vals">
    <h4>{{op.name}} ({{op.move_ids.length}})</h4>
    <hr>
  </div> 
</div>

