<h2>Escanear Código</h2>

<form #form (submit)="search($event)" style="height:0;">
  <input #barcodeScanner type="text" name="user" [(ngModel)]="barcode" placeholder="Código de Barras" required style="height:0;" />
  <div class="mat-button d-none">
    <button mat-raised-button color="primary">Buscar por código</button>
  </div>
</form>

<div class="w-100 mb-3">
  <button class="w-100" mat-raised-button color="primary" (click)="startScann()">Modo Escaner</button>
</div>

<div style="height:200px;">
  <div *ngIf="showProduct == true" class="mt-3">
    <div>
      <h5>{{product.name}}</h5>
    </div>

    <mat-form-field class="mat-input">
      <mat-label>Cantidad a Agregar</mat-label>
      <input matInput type="number" name="user" [(ngModel)]="stock" placeholder="Cantidad a Agregar" required>
    </mat-form-field>

    <div class="w-100 mb-3">
        <button class="w-100" mat-raised-button color="primary" (click)="fixStock()">Ajustar Stock</button>
      </div>
  </div>

  <div *ngIf="showStatus == true" class="mt-3">
    <h3>Se {{msg}} {{stock}} unidades de {{product.name}}</h3>
  </div>
</div>
